.suggestion-item {
    padding: 5px 0;
    cursor: pointer;
    color: #007bff;
    transition: background-color 0.2s;
  }
  
  .suggestion-item:hover {
    background-color: #e72c2c;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .search-input:focus {
    border-color: #007bff;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #da2424;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacement entre les images */
  }
  
  .image-item {
    flex: 1 1 calc(25% - 10px); /* 4 images par ligne avec un gap de 10px */
    max-width: calc(25% - 10px); /* Même largeur que la flex-basis */
    box-sizing: border-box;
  }
  
  .image-item img {
    width: 100%; /* Prendre toute la largeur du conteneur */
    height: auto; /* Préserver les proportions */
    object-fit: cover; /* Remplir l'espace sans déformer */
    border-radius: 8px; /* Coins arrondis */
  }

  .suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.suggestion-item.complete {
  background-color: #d4edda; /* Vert pâle */
  color: #155724; /* Vert foncé */
}

.suggestion-item.incomplete {
  background-color: #f8d7da; /* Rouge pâle */
  color: #721c24; /* Rouge foncé */
}

.suggestion-item:hover {
  opacity: 0.8; /* Léger effet de hover */
}
